<!DOCTYPE html>
<html>
<head>
  <title>ElVfs</title>
  <%= stylesheet_link_tag    "el_vfs/application" %>
  <%= javascript_include_tag "el_vfs/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
