<!DOCTYPE html>
<html>
<head>
  <title>Vfs</title>
  <%= stylesheet_link_tag    "vfs/application" %>
  <%= javascript_include_tag "vfs/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
